@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&family=Open+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", "Open Sans", "sans-serif";
  background: #eeebe5;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

/* Color  */
.primary1 {
  background-color: #957878;
}

.primary2 {
  background-color: #eeebe5;
}

.secondary1 {
  background-color: #ffc200;
}

.secondary2 {
  background-color: #b1afe9;
}

.secondary3 {
  background-color: #cef9c6;
}

.secondary4 {
  background-color: #42e4ce;
}

.secondary5 {
  background-color: #ffffff;
}

.underline {
  border-bottom: 3px solid #000;
  padding-bottom: 3px;
}

/* Page */
.wrapper {
  display: flex;
  height: 100vh;
}

/* Menu Style */
.menu {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 20vw;
  font-size: 25px;
  padding-top: 5vh;
  box-shadow: 1px 1px 3px #000;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar{
  display: none;
  font-size: 15px;

}

.menu-active {
  background-color: rgba(202, 202, 208, 0.5);
}

.menu ul {
  list-style: none;

  box-sizing: border-box;
  width: 100%;
  color: black;
}

.menu ul li div {
  padding-left: 2vw;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-left: 2vw;
}

.menu ul li {
  padding: 5px;
}

/* Content */
.content-wrapper {
  height: 100vh;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  margin-left: 1em;
}

button {
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 2px 2px 2px #ccc;
  align-items: center;
}

button:active {
  box-shadow: 0 1px #ccc;
  transform: translateY(4px);
}

button span {
  font-size: 15px;
  box-sizing: border-box;
}

/* Header */
.content-wrapper header {
  background-color: #ffffff;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 1.5em;
  position: relative;
}

.content {
  text-align: center;
  transform: translateY(15vh);
  width: 80vw;
}

.mobile-add{
  display: none;
}
/* Task */
.task {
  transform: translateY(5vh);
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 75vh;
}

.column-cards {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20vw;
  margin: 0 2%;
  padding: 20px;
  display: block;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: 1px;
  border-radius: 5px;
}

.column-header {
  display: flex;
  justify-content: space-between;
}

.column-count {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.column-count::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}

.task-cards {
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  justify-content: left;
  text-align: left;
  position: relative;
}

.priority {
  font-size: 0.8em;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
}

.priority-high {
  color: #ee3333;
  background-color: #f5dfdd;
}

.priority-medium {
  color: #ee751d;
  background-color: #fff1e2;
}

.priority-low {
  color: #ffe695;
  background-color: #fff8dd;
}

.estimated-time {
  position: absolute;
  display: flex;
  justify-content: right;
  color: #888;
  font-size: 0.8rem;
  bottom: 0;
  right: 0;
  margin: 5px;
  width: 100%;
}

.estimated-time div {
  margin-left: 10px;
}

/* Modal */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.modal-open {
  border-radius: 50px;
  padding: 1em 2em;
  font-weight: 700;
}

.modal[open] {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.model-inner {
  background-color: white;
  border-radius: 0.5em;
  width: 300px;
  max-width: 600px;
  padding: 2em;
  margin: auto;
}

.model-inner button {
  font-weight: 700;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
}

/* Modal Form  */
form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

form input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}

form label {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}

.form-control input[type="radio"]:checked+label {
  background: #42e4ce;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px #ccc;
}

.form-control input[type="radio"] {
  display: none;
}

.time {
  display: flex;
}

.form-control input[type="number"] {
  width: 50%;
}

.radio {
  background-color: #eeebe5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-button button:first-child {
  background-color: #eeebe5;
}

.form-control .radio label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
}

.modal-close {
  border: 0;
  background-color: white;
  font-size: 30px;
  padding: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.modal-close:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(0px);
}

/* BookMark Page Style */
.resources {
  transform: translateY(5vh);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 75vh;
}

.group-cards {
  flex-grow: 0;
  flex-shrink: 0;
  width: 98%;
  margin: 0 2%;
  padding: 20px;
  display: inline-block;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: 1px;
}

.group-header {
  display: flex;
}

.resources-cards-container {
  display: flex;
}

.resources-cards {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 10px 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 16vh;
  width: 300px;
  text-align: left;
  position: relative;
}

.resource-content {
  padding: 10px 0px;
  color: #888;
  font-size: 0.8em;
}

.resource-url {
  display: flex;
  color: #888;
  font-size: 0.8rem;
  width: 100%;
  z-index: 10000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px 10px;
}

.resource-links {
  padding: 5px 10px;
}

.resource-url div {
  padding: 0px 5px;
}

/* Clock Page Style */

.clock>* {
  font-size: 30px;
}

.clock button {
  font-size: 30px;
}

.clock-controls {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.clock-controls * {
  margin: 0px 20px;
  line-height: 10px;
}

.config {
  position: relative;
}

.clock-configs {
  border-radius: 5px;
  position: absolute;
  z-index: 10000;
  display: none;
  font-size: 15px;
  margin-top: 10px;
}

.clock-configs>div {
  display: flex;
  padding: 10px 0px;
  border-bottom: 2px solid #888;
  width: 100%;
}

.clock-configs div:last-child {
  border-bottom: 0px;
}

.clock-configs .pomodoro-label {
  flex-grow: 3;
  line-height: 38px;
}

.clock-configs .pomodoro-input {
  display: flex;
  flex-grow: 1;
}

.clock-configs .pomodoro-input div {
  line-height: 38px;
}

.clock-configs input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  width: 70px;
  text-align: center;
}

.pomodoro-nav ul {
  list-style: none;
}

.pomodoro-nav ul li {
  display: inline;
  padding: 0px 0px;
  margin: 0px 20px;
}

.timerDisplay {
  font-size: 100px;
}

/* Music Page */
.music {
  transform: translateY(5vh);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 75vh;
  padding-left: 10vw;
  width: 100%;
}

.music-cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  text-align: left;
  margin-bottom: 20px;
}



.music-cards img {
  border-radius: 10px;
  width: 150px;
  height: 130px;
}

.music-track {
  opacity: 0.8;
}

.music-artist {
  font-size: 0.8rem;
  opacity: 0.8;
}

/* Playlist Style */
.music-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 10px 20px;
}

.music-container img {
  width: 100px;
  height: 100px;
}

.music-info{
  margin: 20px 0px;
}


.song-detail{
  margin-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.song-detail #title{
  font-size: 1.5rem;
}
.song-detail #artist{
  font-size: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  background-color: #fff;
  color: #42e4ce;
  font-size: 20px;
  cursor: pointer;
  border: 0px black solid;
  padding:10px 20px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  display: flex;
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #42e4ce;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.mobile-music-container{
  display: none;
}



.mobile-nav {
  font-size: 25px;
  padding-top: 5vh;
  box-shadow: 1px 1px 3px #000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 80vw;
  height: 100vh;
  text-align: center;
  transition: 0.2s ease;
  z-index: 1000;
  transform: translateX(-100%);
}


