<aside class="menu primary1">
    <ul>
        <li class="bold">
            CONTENT
        </li>
        <li>
            <a href="/">Task List</a>
        </li>
        <li>
            <a href="/bookmarks">Bookmarks</a>
        </li>
    </ul>
    <br>
    <ul>
        <lI class="bold">
            ACCESSORIES
        </lI>
        <li>
            <a href="/clock">Clock</a>
        </li>
        <li>
            <a href="/music">Music</a>
        </li>
    </ul>

    
</aside>
