<aside class="menu primary1">
    <div>
        <ul>
            <li class="bold">
                <div>CONTENT</div>
            </li>
            <li class="<%= title=='Task List' ? 'menu-active' : '' %>">
                <a href="/" class="menu-activesewew">Task List</a>
            </li>
            <li class="<%= title=='Bookmark' ? 'menu-active' : '' %>">
                <a href="/bookmarks">Bookmarks</a>
            </li>
        </ul>
        <br>
        <ul>
            <lI class="bold">
                <div>ACCESSORIES</div>
            </lI>
            <li class="<%= title=='Clock' ? 'menu-active' : '' %>">
                <a href="/clock">Clock</a>
            </li>
            <li class="<%= title=='Music' ? 'menu-active' : '' %>">
                <a href="/music">Music</a>
            </li>
        </ul>
    </div>
    

    <div class="music-container" id="music-container">
      <div class="music-info">
        <img src="static/musics/images/niki1.png" alt="music-cover" id="cover" />
        <div class="song-detail">
          <div id="title" class="bold"></div>
          <div id="artist">Niki</div>
        </div>
      </div>
      <div class="progress-container" id="progress-container">
        <div class="progress" id="progress"></div>
      </div>

      <audio src="static/musics/indigo.mp3" id="audio"></audio>

      <div class="navigation">
        <div id="prev" class="action-btn">
          <i class="fa-solid fa-backward-step fa-2x"></i>
        </div>
        <div id="play" class="action-btn">
          <i class="fa-solid fa-circle-play fa-2x"></i>
        </div>
        <div id="next" class="action-btn">
          <i class="fa-solid fa-forward-step fa-2x"></i>
        </div>
      </div>
    </div>
    

    
<script>
  //Tracklistfor music player 
  const trackList=[{
    id:1,
    name:"Bedtime after a coffee",
    artist:"Barradeen",
    image:"static/musics/images/Barradeen.jpg",
    path:"static/musics/bedtime.mp3"
},{
    id:2,
    name:"Devyzed Downtown",
    artist:"Ghostrifter Official",
    image:"static/musics/images/Ghostrifter official.jpg",
    path:"static/musics/devyzed.mp3"
},{
    id:3,
    name:"Ethereal",
    artist:"Ghostrifter Official",
    image:"static/musics/images/Ghostrifter official.jpg",
    path:"static/musics/ethereal.mp3"
},{
    id:4,
    name:"Morning Routine",
    artist:"Ghostrifter Official",
    image:"static/musics/images/Ghostrifter official.jpg",
    path:"static/musics/morningroutine.mp3"
},{
    id:5,
    name:"Flamingo",
    artist:"Kidcut",
    image:"static/musics/images/kidcut.jpg",
    path:"static/musics/flamingo.mp3"
},{
    id:6,
    name:"End Credits",
    artist:"Mountaineer",
    image:"static/musics/images/Mountaineer.jpg",
    path:"static/musics/endcredits.mp3"
},{
    id:7,
    name:"Fly Away",
    artist:"Mountaineer",
    image:"static/musics/images/Mountaineer.jpg",
    path:"static/musics/flyaway.mp3"
},{
    id:8,
    name:"Cozy",
    artist:"Prigida",
    image:"static/musics/images/Prigida.jpg",
    path:"static/musics/cozy.mp3"
},{
    id:9,
    name:"Mellow Bop",
    artist:"Prigida",
    image:"static/musics/images/Prigida.jpg",
    path:"static/musics/mellowbop.mp3"
},{
    id:10,
    name:"Moonshine",
    artist:"Prigida",
    image:"static/musics/images/Prigida.jpg",
    path:"static/musics/moonshine.mp3"
},{
    id:11,
    name:"Midnight Snack",
    artist:"Purrple Cat",
    image:"static/musics/images/Purrple cat.jpg",
    path:"static/musics/midnightsnack.mp3"
},{
    id:12,
    name:"Missing You",
    artist:"Purrple Cat",
    image:"static/musics/images/Purrple cat.jpg",
    path:"static/musics/missingyou.mp3"
},{
    id:13,
    name:"Your Love is What I Need",
    artist:"Soundroll",
    image:"static/musics/images/Soundroll.jpg",
    path:"static/musics/yourloveiswhatineed.mp3"
},{
    id:14,
    name:"Mellow Skies",
    artist:"Tatami",
    image:"static/musics/images/Tatami.jpg",
    path:"static/musics/mellowskies.mp3"
},{
    id:15,
    name:"Name",
    artist:"Walz",
    image:"static/musics/images/Walz.jpg",
    path:"static/musics/name.mp3"
}];

  const musicContainer = document.getElementById('music-container');
  const playBtn = document.getElementById('play');
  const prevBtn = document.getElementById('prev');
  const nextBtn = document.getElementById('next');
  
  const audio = document.getElementById('audio');
  const progress = document.getElementById('progress');
  const progressContainer = document.getElementById('progress-container');
  const title = document.getElementById('title');
  const artist = document.getElementById('artist');
  const cover = document.getElementById('cover');
  
  // Song titles
  const songs = ['indigo', 'perfect', 'galwaygirl'];
  
  // Keep track of song
  let songIndex = 0;
  
  // Initially load song details into DOM
  loadSong(trackList[songIndex]);
  
  // Update song details
  function loadSong(song) {
    title.innerText = song.name;
    artist.innerText = song.artist;
    audio.src = song.path;
    cover.src = song.image;
  }
  
  // Play song
  function playSong() {
    musicContainer.classList.add('play');
    playBtn.querySelector('i.fa-solid').classList.remove('fa-circle-play');
    playBtn.querySelector('i.fa-solid').classList.add('fa-circle-pause');
    audio.play();
  }
  
  // Pause song
  function pauseSong() {
    musicContainer.classList.remove('play');
    playBtn.querySelector('i.fa-solid').classList.add('fa-circle-play');
    playBtn.querySelector('i.fa-solid').classList.remove('fa-circle-pause');
  
    audio.pause();
  }
  
  // Previous song
  function prevSong() {
    songIndex--;
  
    if (songIndex < 0) {
      songIndex = trackList.length - 1;
    }
  
    loadSong(trackList[songIndex]);
  
    playSong();
  }
  
  // Next song
  function nextSong() {
    songIndex++;
  
    if (songIndex > trackList.length - 1) {
      songIndex = 0;
    }
  
    loadSong(trackList[songIndex]);
  
    playSong();
  }
  
  // Update progress bar
  function updateProgress(e) {
    const { duration, currentTime } = e.srcElement;
    const progressPercent = (currentTime / duration) * 100;
    progress.style.width = `${progressPercent}%`;
  }
  
  // Set progress bar
  function setProgress(e) {
    const width = this.clientWidth;
    const clickX = e.offsetX;
    const duration = audio.duration;
  
    audio.currentTime = (clickX / width) * duration;
  }
  
  //get duration & currentTime for Time of song
  function DurTime (e) {
      const {duration,currentTime} = e.srcElement;
      var sec;
      var sec_d;
  
      // define minutes currentTime
      let min = (currentTime==null)? 0:
       Math.floor(currentTime/60);
       min = min <10 ? '0'+min:min;
  
      // define seconds currentTime
      function get_sec (x) {
          if(Math.floor(x) >= 60){
              
              for (var i = 1; i<=60; i++){
                  if(Math.floor(x)>=(60*i) && Math.floor(x)<(60*(i+1))) {
                      sec = Math.floor(x) - (60*i);
                      sec = sec <10 ? '0'+sec:sec;
                  }
              }
          }else{
               sec = Math.floor(x);
               sec = sec <10 ? '0'+sec:sec;
           }
      } 
  
      get_sec (currentTime,sec);
  
  
      // define minutes duration
      let min_d = (isNaN(duration) === true)? '0':
          Math.floor(duration/60);
       min_d = min_d <10 ? '0'+min_d:min_d;
  
  
       function get_sec_d (x) {
          if(Math.floor(x) >= 60){
              
              for (var i = 1; i<=60; i++){
                  if(Math.floor(x)>=(60*i) && Math.floor(x)<(60*(i+1))) {
                      sec_d = Math.floor(x) - (60*i);
                      sec_d = sec_d <10 ? '0'+sec_d:sec_d;
                  }
              }
          }else{
               sec_d = (isNaN(duration) === true)? '0':
               Math.floor(x);
               sec_d = sec_d <10 ? '0'+sec_d:sec_d;
           }
      } 
  
      // define seconds duration
      
      get_sec_d (duration);
  
          
  };
  
  // Event listeners
  playBtn.addEventListener('click', () => {
    const isPlaying = musicContainer.classList.contains('play');
  
    if (isPlaying) {
      pauseSong();
    } else {
      playSong();
    }
  });
  
  // Change song
  prevBtn.addEventListener('click', prevSong);
  nextBtn.addEventListener('click', nextSong);
  
  // Time/song update
  audio.addEventListener('timeupdate', updateProgress);
  
  // Click on progress bar
  progressContainer.addEventListener('click', setProgress);
  
  // Song ends
  audio.addEventListener('ended', nextSong);
  
  // Time of song
  audio.addEventListener('timeupdate',DurTime);
  
  </script>
</aside>
