<div class="mobile-nav hide primary1">
    <div id="close-mobile"><i class="fa-solid fa-x"></i></div>
    <ul>
        <li class="bold">
            <div>CONTENT</div>
        </li>
        <li class="<%= title=='Task List' ? 'menu-active' : '' %>">
            <a href="/" class="menu-activesewew">Task List</a>
        </li>
        <li class="<%= title=='Bookmark' ? 'menu-active' : '' %>">
            <a href="/bookmarks">Bookmarks</a>
        </li>
    </ul>
    <br>
    <ul>
        <lI class="bold">
            <div>ACCESSORIES</div>
        </lI>
        <li class="<%= title=='Clock' ? 'menu-active' : '' %>">
            <a href="/clock">Clock</a>
        </li>
        <li class="<%= title=='Music' ? 'menu-active' : '' %>">
            <a href="/music">Music</a>
        </li>
    </ul>
</div>

<script>
    //Onclick to open menu mobile from the left
	$('#menu-bar').on('click', function() {
        var mobileNav = $('.mobile-nav');
        mobileNav.toggleClass('hide show');
	});

    //Onclick to close menu mobile from the left
    $('#close-mobile').on('click', function() {
        var mobileNav = $('.mobile-nav');
        mobileNav.toggleClass('hide show');
	});

</script>