<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <section class="wrapper">
        <%- include('./partials/menu'); %>
        <section class="content-wrapper">
            <header>
                <div>
                    <h1>MUSIC</h1>
                </div>
            </header>

            <section class="content task">
                <!-- <div id="music_list">
                   
                    <audio controls autoplay src="/static/musics/01 Chrono Cross ~ Scars of Time.mp3"></audio>
                </div> -->
                <% data.forEach(function(detail){ %>
                    <div class="music-cards">
                        <%= detail.title %>
                    </div>
                <% }); %>
            </section>
        </section>
    </section>



    <script>

        
        // console.log(files);
        // // Playlist array
        // var files = [
        //     "samples/track1.mp3",
        //     "samples/track2.mp3",
        //     "samples/track3.mp3"
        // ];

        // // Current index of the files array
        // var i = 0;

        // // Get the audio element
        // var music_player = document.querySelector("#music_list audio");

        // // function for moving to next audio file
        // function next() {
        //     // Check for last audio file in the playlist
        //     if (i === files.length - 1) {
        //         i = 0;
        //     } else {
        //         i++;
        //     }

        //     // Change the audio element source
        //     music_player.src = files[i];
        // }

        // // Check if the player is slected
        // if (music_player === null) {
        //     throw "Playlist Player does not exists ...";
        // } else {
        //     // Start the player
        //     music_player.src = files[i];

        //     // Listen for the music ended event, to play the next audio file
        //     music_player.addEventListener('ended', next, false)
        // }

    </script>
</body>

</html>