<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Music Player</title>
    <!-- Load FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- Load the custom CSS style file -->
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
 
</head>

<body>
    
<!-- Playlist -->
<div class="player secondary5">
    <!-- Define the section for displaying details -->
    <div class="details">
        <div class="track-art"></div>
        <div class="track-song">
            <div class="track-name">Track Name</div>
            <div class="track-artist">Track Artist</div>
        </div>
    </div>

     <!-- Define the section for displaying the seek slider-->
    <div class="slider_container">
        <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
    </div>

    <!-- Define the section for displaying track buttons -->
    <div class="buttons">
        <div class="prev-track" onclick="prevTrack()">
            <i class="fa fa-step-backward fa-2x"></i>
        </div>
        <div class="playpause-track" onclick="playpauseTrack()">
            <i class="fa fa-play-circle fa-2x"></i>
        </div>
        <div class="next-track" onclick="nextTrack()">
            <i class="fa fa-step-forward fa-2x"></i>
        </div>
    </div>

   
</div>

       
    </div>

    <!-- Load the main script for the player -->
</body>

</html>
<script>
    // Select all the elements in the HTML page
    // and assign them to a variable
    let now_playing = document.querySelector(".now-playing");
    let track_art = document.querySelector(".track-art");
    let track_name = document.querySelector(".track-name");
    let track_artist = document.querySelector(".track-artist");

    let playpause_btn = document.querySelector(".playpause-track");
    let next_btn = document.querySelector(".next-track");
    let prev_btn = document.querySelector(".prev-track");

    let seek_slider = document.querySelector(".seek_slider");
    let volume_slider = document.querySelector(".volume_slider");
    let curr_time = document.querySelector(".current-time");
    let total_duration = document.querySelector(".total-duration");

    // Specify globally used values
    let track_index = 0;
    let isPlaying = false;
    let updateTimer;

    // Create the audio element for the player
    let curr_track = document.createElement('audio');

    // Define the list of tracks that have to be played
    let track_list = [
        {
            name: "Night Owl",
            artist: "Broke For Free",
            image: "Image URL",
            path: "static/musics/01 Chrono Cross ~ Scars of Time.mp3"
        },
        {
            name: "Enthusiast",
            artist: "Tours",
            image: "Image URL",
            path: "static/musics/01 Chrono Cross ~ Scars of Time.mp3"
        },
        {
            name: "Shipping Lanes",
            artist: "Chad Crouch",
            image: "Image URL",
            path: "static/musics/01 Chrono Cross ~ Scars of Time.mp3",
        },
    ];
</script>